<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" type="text/css" href="/css/profiles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style = "background-image: url(/images/interview.jpg);">
  {{> navbar}}
  <div class="container"> 
    <br>
    <div class="jumbotron" style="padding-top:25%;">
      <h3 class ="clear">Interview Roulette</h3>
      <h5 class = "lead" style="color:white;text-align:center">Realtime practice that helps you ace the next interview.</h5>
      <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
    </div>
  </div> 
</body>
</html>