<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class = "home">
  <div class="container"> 
  {{> navbar}}
  {{#if invalid}}
    <div class="alert alert-danger">
      <strong>Invalid email and/or password</strong> 
      Please try logging in again
    </div>
  {{/if}}
    <div class="jumbotron" style="padding-top:25%;">
      <center>
        <div class="logo">IR</div>
      </center>
      <h3 class ="clear" style="font-family: Gill Sans; font-weight:normal">Interview Roulette</h3>
      <h5 class = "lead">Realtime practice that helps you ace the next interview.</h5>
      <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
    </div>
  </div> 
</body>
</html>