<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
  </ul>
  <ul class="nav hidden-xs" id="lg-menu">
    <li class="active" id="about-me">
	<a class = 'sidebar' href = '/intervieweeProfile'>
    <i class="glyphicon glyphicon-home"></i> My Profile</a></li>
    <li id="feedback"><a class = 'sidebar' href="/intervieweeFeedback"><i class="glyphicon glyphicon-list"></i> Interview feedback</a></li>
    <li id="skill"><a class = 'sidebar' href="/intervieweeSkills"><i class="glyphicon glyphicon-tower"></i> Skills</a></li>
    <li id="improvement"><a class = 'sidebar' href="/intervieweeAreasToImprove"><i class="glyphicon glyphicon-road"></i> Improvement potentials</a></li>
  </ul>
</div>