<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
  
    <ul class="nav">
      <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>
   
    <ul class="nav hidden-xs" id="lg-menu">
      <li class="active" id="my-profile"><a href="/interviewerProfile/Sidebar?{{email}}"><i class="glyphicon glyphicon-home"></i> My Profile</a></li>
      <li id="about-me"><a href="/interviewerAboutMe/{{email}}"><i class="glyphicon glyphicon-user"></i> More About Me</a></li>
      <li id="experience"><a href="/interviewerPastExp/{{email}}"><i class="glyphicon glyphicon-list"></i> My Past Experience</a></li>
    </ul>
</div>