<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

  <ul class="nav">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
  </ul>
 
  <ul class="nav hidden-xs" id="lg-menu">
    <li class="active" id="about-me"><a href="/intervieweeProfile/Sidebar"><i class="glyphicon glyphicon-home"></i> My Profile</a></li>
    <li id="feedback"><a href="/intervieweeFeedback/{{email}}"><i class="glyphicon glyphicon-list"></i> Interview Feedback</a></li>
    <li id="skill"><a href="/intervieweeSkills/{{email}}"><i class="glyphicon glyphicon-tower"></i>  Skills</a></li>
    <li id="ratings"><a href="/intervieweePublicRatings/{{email}}"><i class="glyphicon glyphicon-star"></i>  My Public Ratings</a></li>
    <li id="improvement"><a href="/intervieweeAreasToImprove/{{email}}"><i class="glyphicon glyphicon-road"></i>  Areas To Improve</a></li>
  </ul>
</div>