<div class="row" style="height:20%">
  <div class="header">
    <ul class="nav nav-pills pull-right" style="padding-top:3%; padding-right:3%">
      <li class= "active"><a href="/login">Login</a></li>
    </ul>
  </div>
</div>