<center>
  <div class="btn-group">
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span><br><a href="/intervieweeProfile">Profile</a></button>
    <button type="button" class="btn btn-default" ><span class="glyphicon glyphicon-list"></span><br><a href="/intervieweeFeedback">Feedback</a></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tower"></span><br><a href="/intervieweeSkills">Skills</a></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-road"></span><br><a href="/intervieweeAreasToImprove">Areas To Improve</a></button>
  </div>
</center>