<center class = "bar">
  <div class="btn-group shadow">
    <a href="/interviewerProfile" type="button" class="btn btn-default shadow"><span class="glyphicon glyphicon-home"></span><br>Profile</a>
    <a href="/interviewerAboutMe" type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span><br>About</a>
    <a href="/interviewerPastExp" type="button" class="btn btn-default"><span class="glyphicon glyphicon-tower"></span><br>Past Exp</a>
    <a href="/interviewerFeedback" type="button" class="btn btn-default shadow"><span class="glyphicon glyphicon-list"></span><br>Feedback</a>
  </div>
</center>