<center class = "bar">
  <div class="btn-group shadow">
    <a href="/intervieweeProfile" type="button" class="btn btn-default shadow"><span class="glyphicon glyphicon-home"></span><br>Profile</a>
    <a href="/intervieweeFeedback" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span><br>Feedback</a>
    <a href="/intervieweeSkills" type="button" class="btn btn-default"><span class="glyphicon glyphicon-tower"></span><br>Skills</a>
    <a href="/intervieweeAreasToImprove" type="button" class="btn btn-default shadow"><span class="glyphicon glyphicon-road"></span><br>Areas To Improve</a>
  </div>
</center>