<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
  </ul>
  <ul class="nav hidden-xs" id="lg-menu">
    <li class="active" id="about-me"><a href="/intervieweeProfile"><i class="glyphicon glyphicon-user"></i> About Me</a></li>
    <li id="feedback"><a href=""><i class="glyphicon glyphicon-list"></i> Interview Feedback</a></li>
    <li id="skill"><a href="#"><i class="glyphicon glyphicon-tower"></i>  Skills</a></li>
    <li id="ratings"><a href="#"><i class="glyphicon glyphicon-star"></i>  My Public Ratings</a></li>
    <li id="improvement"><a href="#"><i class="glyphicon glyphicon-road"></i>  Areas To Improve</a></li>
  </ul>
</div>
