<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    {{> head}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <!DOCTYPE html>
  <body>
  <div class = "jumbotron">
  <div class = "row">
        <address>
          <strong>TV hostess</strong> at <strong>Twitter, Inc.</strong><br>
          2003 - 2010<br>
          San Francisco, CA 94107<br>
          Talked a lot and entertained audiences.<br>
        </address>

        <address>
          <strong>TV hostess</strong> at <strong>Twitter, Inc.</strong><br>
          2003 - 2010<br>
          San Francisco, CA 94107<br>
          Talked a lot and entertained audiences.<br>
        </address>
  </div>
</div>

 </body>
</html>