<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    {{> head}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <!DOCTYPE html>
  <body>

  <div class = "row">
    <div class ="jumbotron">
        <address>
          <strong>Founder</strong> at <strong>Google Inc.</strong><br>
          1999 - 2014<br>
          Mountain View, CA 94107<br>
          Founded the company with Sergey Brin<br>
        </address>

        <address>
          <strong>PhD student</strong> at <strong>Stanford University</strong><br>
          1995 - 1999<br>
          Stanford, CA 94305<br>
          Researched on mathematical properties of the World Wide Web<br>
        </address>
  </div>
</div>

 </body>
</html>