<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    {{> head}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <!DOCTYPE html>
  <body>
  <div class = "jumbotron">
  <div class = "row">
        <address>
          <strong>TV hostess</strong> at <strong>Twitter, Inc.</strong><br>
          2003 - 2010<br>
          San Francisco, CA 94107<br>
          Talked a lot and entertained audiences.<br>
        </address>

        <address>
          <strong>TV hostess</strong> at <strong>Twitter, Inc.</strong><br>
          2003 - 2010<br>
          San Francisco, CA 94107<br>
          Talked a lot and entertained audiences.<br>
        </address>
  
</div>
    <div class="row">
        <div class="col-md-2"> 
        </div>  
        <div class="col-md-4"> 
          <a class="btn btn-primary btn-lg match active" href="/startInterview" role="button">Request an interview</a>
        </div>
        <div class="col-md-4"> 
          <a class="btn btn-primary btn-lg match active" href="/match1" role="button">Try another Roulette</a>
        </div>
        <div class="col-md-2"> 
        </div>  
    </div>
    </div>

 </body>
</html>