<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12">
          <a href = '/intervieweeProfile'>
          <button type="submit" class="btn btn-default">Back To My Profile</button>
        </a>
      </div>
    </div>
    {{> logout}}
    <form role="form" method="get" action="/feedbackSaved/{{ match }}">
      <label for="feedback">Share your feedback for interview with {{ match }}</label>
      <textarea class="form-control" rows="3" name="feedback"></textarea>
        <br>
        <br>
        <button id="submit" type="submit" class="btn btn-primary match btn-lg active">Save</button>
    </form>
  </div> 
  <script type='text/javascript'>
  $(document).ready(function() {
    $('#available').click(function(e){
        $('#toggle-availability').submit();
    });

    $('#unavailable').click(function(e){
        $('#toggle-availability').submit();
    });
  });
  </script> 
</body>
</html>
