<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgb(23, 115, 195);">
 <div class="container" id="container">
    <br>
    <div class="row">
      <div class="col-md-12" style="padding-right: 0px">
        <a href = '/intervieweeProfile'>
           <button style="float:left" type="submit" id="back-button" class="glyphicon glyphicon-home"></button>
        </a>  
        {{> logoutForStartInterview}}
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class = "col-md-12">
        <div id="save-notification" class="notification-hidden">
          <div class="alert alert-success">
            <strong>Your changes have been saved!</strong>
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-12">
    <form role="form" method="get" action="/feedback/{{ match }}">
      <label for="feedback">Share your feedback for interview with {{ match }}</label>
      <textarea class="form-control" rows="3" name="feedback"></textarea>
        <br>
        <br>
        <button id="submit" type="submit" class="btn" style="float: right; border-color: white; background: rgb(171, 24, 2); color: white; font-family: Gill Sans">Save</button>
    </form>
      </div>
    </div>  
  </div> 
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script type='text/javascript'>
  $(document).ready(function() {
    //Handle notificaitons
      var url = window.location.href;
      if(url.indexOf("?")!= -1) {
        $("#save-notification").fadeIn('slow'); 
      }

      /* off-canvas sidebar toggle */
      $('[data-toggle=offcanvas]').click(function() {
        $(this).toggleClass('visible-xs text-center');
        $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
        $('.row-offcanvas').toggleClass('active');
        $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
        $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
        $('#btnShow').toggle();
      });

    $('#available').click(function(e){
        $('#toggle-availability').submit();
    });

    $('#unavailable').click(function(e){
        $('#toggle-availability').submit();
    });
  });
  </script> 
</body>
</html>
