<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body style = "background-image: url(/images/interview.jpg);">
    <div class="container">
      {{> navbar}}
      <br>
      <div class="jumbotron">
        <h1>Interview Roulette</h1>
        <p class="lead"> match you with realtime practice that helps you ace the next interview.</p>
        <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign up today</a></p>
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>