<!DOCTYPE html>
<html>
  <head>
    {{>head}}
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style = "background-image: url(/images/interview.jpg);">   

    <div class="jumbotron" align="center">

    <h4 class="lead"> Let us know how to serve you better within 30 seconds. </h4>
    

    <div class="form-group">
      
      <label class="clear"><h4>Which field do you feel passioate about?</h4></label><br>
      <select class="form-control">
         <option>Software Engineer</option>
         <option>Product Manager</option>
         <option>Investment Banking</option>
         <option>Consulting</option>    
      </select>
      
    </div>

    <div class="form-group">
      <label class="clear"><h4>Which company you particularly want to work for?</h4></label><br>
      <input type="text" class="form-control" placeholder="Company name">
    </div>

    <p><a class="btn btn-success btn-lg" href="/intervieweeProfile" role="button">continue</a></p>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>