<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    {{> head}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      {{> navbar}}
      <div class = "row profile-header">
        <div class="col-md-4">
         <div class="profile-circle"> Edit Photo
        <!-- <img data-src="holder.js/140x140" class="img-circle" style="width:140px; height: 140px;" > -->
         </div>
        </div>
        <div class="col-md-8">
          <h1>Firstname Lastname <small>(Interviewer)</small></h1>
          <div class="row">
            <div class="col-md-4">
            <address>
              <strong>Stanford University</strong><br>
              San Francisco, CA<br>
            </address>
          </div>
            <div class="col-md-4">
            <address>
              <strong>Software Developer</strong><br>
              <a href="mailto:#">first.last@example.com</a>
            </address>
          </div>
        </div>
          <button type="button" class="btn btn-primary btn-lg active">Start Interviewing</button>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-inverse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Experience</a></li>
            <li><a href="#">About Me</a></li>
          </ul>
         </nav>
      </div>
      <div class = "row">
        <address>
          <strong>TV hostess</strong> at <strong>Twitter, Inc.</strong><br>
          2003 - 2010<br>
          San Francisco, CA 94107<br>
          Talked a lot and entertained audiences.<br>
        </address>

        <address>
          <strong>TV hostess</strong> at <strong>Twitter, Inc.</strong><br>
          2003 - 2010<br>
          San Francisco, CA 94107<br>
          Talked a lot and entertained audiences.<br>
        </address>


      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>