<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">

        <title>My Areas To Improve</title>
        {{> bootplyBoilerplate}}
    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body>
        
    <div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
          
            <!-- sidebar -->
            {{> intervieweeProfileSidebar}}
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
              
                <div class="padding">
                    <div class="full col-sm-9">
                      <form role="form" method="get" action="/intervieweeProfile/Improvements">
                        <div class="form-group">
                            <span class="textarea-group-addon">Logged In As:</span>
                            <i><textarea class="form-control" rows="1" name="email">{{email}}</textarea></i>
                        </div>
                      <h1> I want to improve by: </h1>
                        <!-- content -->     
                          <div class="form-group">
                            <textarea class="form-control" rows="3"name="improvements">{{improvements}}</textarea>
                            </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-default">Save</button>
                          </div>
                        </form>
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>



        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
          $(document).ready(function() {
              /* off-canvas sidebar toggle */

              $('[data-toggle=offcanvas]').click(function() {
                  $(this).toggleClass('visible-xs text-center');
                  $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
                  $('.row-offcanvas').toggleClass('active');
                  $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
                  $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
                  $('#btnShow').toggle();
              });
          });
        
        </script>
        
    </body>
</html>