<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">

        <title>My Areas To Improve</title>
        {{> bootplyBoilerplate}}
    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body>
        
    <div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
          
            <!-- sidebar -->
            {{> intervieweeProfileSidebar}}
            <!-- /sidebar -->
          
            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                
              
                <div class="padding">
                    <div class="full col-sm-9">
                      <h1> I want to improve by: </h1>
                      <h5>Select improvement areas.</h5>
                        <!-- content -->     

                        <!-- Collapse Menu -->
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Most Popular Areas
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                  <form role="form">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox"> Speaking slower.
                                      </label>
                                    </div>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox"> Practicing more technical questions.
                                      </label>
                                    </div>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox"> Presenting confidently.
                                      </label>
                                    </div>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox"> Learning more about the industry.
                                      </label>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Create your own improvement
                                  </a>
                                </h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                them accusamus labore sustainable VHS.
                                </div>
                              </div>
                            </div>
                          </div> <!-- End of collapse menu -->
                    
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>

        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>



        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
          $(document).ready(function() {
              /* off-canvas sidebar toggle */

              $('[data-toggle=offcanvas]').click(function() {
                  $(this).toggleClass('visible-xs text-center');
                  $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
                  $('.row-offcanvas').toggleClass('active');
                  $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
                  $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
                  $('#btnShow').toggle();
              });
          });
        
        </script>
        
    </body>
</html>