<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    {{> head}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h3>Interview Roulette</h3>
      <div class = "row profile-header">
        <div class="col-md-4">
         <div class="profile-circle"> Edit Photo
        <!-- <img data-src="holder.js/140x140" class="img-circle" style="width:140px; height: 140px;" > -->
         </div>
        </div>
        <div class="col-md-8">
          <h1>Firstname Lastname <small>(Interviewee)</small></h1>
          <div class="row">
            <div class="col-md-4">
            <address>
              <strong>Twitter, Inc.</strong><br>
              San Francisco, CA<br>
            </address>
          </div>
            <div class="col-md-4">
            <address>
              <strong>Software Developer</strong><br>
              <a href="mailto:#">first.last@example.com</a>
            </address>
          </div>
        </div>
          <a class="btn btn-primary btn-lg active" href="/match" role="button"> Request Interview</a>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-inverse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Interview Feedback <span class="badge">1 NEW</span></a></li>
            <li><a href="/unimplemented">My Ratings</a></li>
            <li><a href="/unimplemented">Skills</a></li>
            <li><a href="/unimplemented">Areas of Improvement</a></li>
          </ul>
         </nav>
      </div>
      <div class = "row">
        <div class="col-md-12 feedback"><strong>Brad Pitt </strong> (Senior Developer at Apple)</div>
        <div class="col-md-12 feedback"><strong>Brad Pitt </strong> (Senior Developer at Apple)</div>
        <div class="col-md-12 feedback"><strong>Brad Pitt </strong> (Senior Developer at Apple)</div>
        <div class="col-md-12 feedback"><strong>Brad Pitt </strong> (Senior Developer at Apple)</div>
        <div class="col-md-12 feedback"><strong>Brad Pitt </strong> (Senior Developer at Apple)</div>
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>