<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <p class="lead"> Congraluations!  We have matched an interviewee for you.</p>
        <div class = "row profile-header">
          <div class="col-md-4">
            <div class="profile-circle">Photo </div>      
          </div>
          <div class="col-md-8" >
            <div class="row">
              <div class="col-md-8 extraoinfo">
                <h1 style="color:black">Crystal Zhu</h1>
              </div> 
              <p class="lead">Wants to become a game developer.</p>
            </div> 
            <div class="row">
              <div class="col-md-6 extrainfo">
                <address>
                  <strong></strong><br>
                  New York, NY<br>
                </address>
              </div>       
              <div class="col-md-6 extrainfo">
                <address>
                  <a href="mailto:#">zhuzhu@yahoo.com</a>
                </address>
              </div>  
            </div>   
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"> 
          </div>	
          <div class="col-md-4 extrainfo"> 
            <a class="btn btn-primary btn-lg match active" href="/startInterview" role="button">Request an interview</a>
          </div>
          <div class="col-md-4 extrainfo"> 
            <a class="btn btn-primary btn-lg match active" href="/matchInterviewee" role="button">Try another roulette</a>
          </div>
          <div class="col-md-4 extrainfo"> 
            <a class="btn btn-primary btn-lg match active" href="/interviewerProfile/match" role="button">Back To My Profile</a>
          </div>
          <div class="col-md-2"> 
          </div>
        </div>	
      </div>
  </body>
</html>