<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    {{> head}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <!DOCTYPE html>
  <body>

  	 <div class="container">

  	  <div class="jumbotron">
      <p class="lead"> Congraluations!  We have matched a interviewer for you.</p>
      
      <div class="container">
      <div class = "row profile-header">
        <div class="col-md-4">
         <div class="profile-circle"> Edit Photo </div>      
        </div>
        <div class="col-md-8" >
          <div class="row">
          	<div class="col-md-8">
           <h1 style="color:black">Jack Dorsey</h1><br>
            </div> 
             <div class="col-md-4" style="text-align:center">
            <a href="/detailInfo">detailed information</a>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6">
            <address>
              <strong>Twitter, Inc.</strong><br>
              San Francisco, CA<br>
            </address>
            </div>       
            <div class="col-md-6">
            <address>
              <strong>Software Developer</strong><br>
              <a href="mailto:#">Jack@twitter.com</a>
            </address>
           </div>  
          </div>   
        </div>
       </div>
       </div> 



        <div class="row">
        <div class="col-md-2"> 
        </div>	
        <div class="col-md-4"> 
          <a class="btn btn-primary btn-lg active" href="/startInterview" role="button">Request an interview</a>
        </div>
        <div class="col-md-4"> 
          <a class="btn btn-primary btn-lg active" href="/match1" role="button">Try another roulette</a>
        </div>
        <div class="col-md-2"> 
        </div>	
        </div>

 </body>
</html>