<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  {{> head}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src = "/js/startInterview.js"></script>
  <script type = "text/javascript" src = "http://cdn.dev.skype.com/uri/skype-uri.js"></script>
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgb(214, 216, 216);">
  <div class="container" id="container">
    <div class="form-group" style="padding-top: 10px">
      <a href = '/intervieweeProfile'>
        <button style="float:left" type="submit" id="back-button" class="glyphicon glyphicon-home"></button>
      </a>
      {{> logoutForStartInterview}}
      <center>
         <div class="logo">IR</div>
      </center>
      <h1 style="text-align:center" id="startInterviewTitle">Start your interview now.</h1>
    </div>
  </div>
  <center>
    <span id="skype-call">
      <div id = "call_32" style="padding-right: 5px">
        <script type = "text/javascript">
          Skype.ui({
            name: "call",
            element: "call_32",
            participants: ["{{match}}"],
            imageSize: 32,
            listParticipants: "true"
          })
        </script>
      </div>
    </span>
    <a href='/feedback/{{ match }}'><button type="button" class="btn btn-primary match btn-lg active" style="border-color: white; background: rgb(171, 24, 2); color: white; font-family: Gill Sans; margin-bottom: 30px"> Give feedbacks </button>
  <script type='text/javascript'>
  $(document).ready(function() {
    $('#available').click(function(e){
        $('#toggle-availability').submit();
    });

    $('#unavailable').click(function(e){
        $('#toggle-availability').submit();
    });
  });
  </script> 
</body>
</html>