<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  {{> head}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src = "/js/startInterview.js"></script>
  <script type = "text/javascript" src = "http://cdn.dev.skype.com/uri/skype-uri.js"></script>
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="form-group">
      <a href = '/intervieweeProfile'>
        <button type="submit" class="btn btn-default">Back To My Profile</button>
      </a>
      {{> logout}} 
      <h4 style="padding-top:10%;text-align:center">Start your interview now.</h4>
      <br>
      <div class = "row">
        <div class = "col-md-4">
          <div style="text-align:center">
            <div id = "genSkypeCall">
              <script type = "text/javascript">
                Skype.ui({
                  name: "call",
                  element: "genSkypeCall",
                  participants: ["{{match}}"],
                  listParticipants: "true"
                })
              </script>
            </div>
            <a href='/feedback/{{ match }}'><button type="button" class="btn btn-primary match btn-lg active"> Give feedbacks </button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript'>
  $(document).ready(function() {
    $('#available').click(function(e){
        $('#toggle-availability').submit();
    });

    $('#unavailable').click(function(e){
        $('#toggle-availability').submit();
    });
  });
  </script> 
</body>
</html>