.feedback {
	border-radius: 10px;
 	background: #d3d3d3;
 	margin-bottom: 5px;
 	padding: 15px;
}
.profile-circle {
	border-radius: 50%;
	background-color:#d3d3d3;
	height: 140px;
	margin: auto; 
	text-align: center;
	line-height: 140px;
	width: 140px;
}

.profile-header {
	margin-bottom: 15px;
}

.btn.btn-primary.btn-lg.match {
	width: 200px;
}

.btn.btn-primary.btn-lg.active {
    text-align: center;
    width: 250px;
}


.col-md-6.extrainfo {
	text-align: center;
}

.col-md-4.extrainfo {
	text-align: center;
}

.col-md-8.extrainfo {
	text-align: center;
}

.clear {
   text-shadow:grey 0.1em 0.1em 0.2em;
   color: grey;
   text-align: center;
}

