<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interview Feedback</title>
  {{> bootplyBoilerplate}}
</head>
<body style="background-color: rgb(23, 115, 195);">
  <div class="container" id="container">
    {{> logout}}
    <!-- Placeholder for "saved" notfication -->
    <div class="row">
      <div class = "col-md-12">
      <h4>Feedback from interviewer will be shown after each interview</h4>
      <div class="alert alert-info" style="text-align:left; padding: 6px 12px;border:1px solid;height:80px;">
        <ul>
        {{#each feedbacks}}
          <li><h5>{{text}} -- by {{by}}</h5></li>
        {{/each}}
        </ul>  
      </div>
      </div>
    </div>  
  </div>
  {{> persistantBarInterviewee}}
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <!-- JavaScript jQuery code from Bootply.com editor -->
  <script type='text/javascript'>
    $(document).ready(function() {
      /* off-canvas sidebar toggle */
      $('[data-toggle=offcanvas]').click(function() {
        $(this).toggleClass('visible-xs text-center');
        $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
        $('.row-offcanvas').toggleClass('active');
        $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
        $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
        $('#btnShow').toggle();
      });

      $('#available').click(function(e){
          console.log('im clicked');
          $('#toggle-availability').submit();
      });

      $('#unavailable').click(function(e){
          console.log('im clicked');
          $('#toggle-availability').submit();
      });
    });
  </script>
</body>
</html>