<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interview Feedback</title>
  {{> bootplyBoilerplate}}
</head>
<body>
  <div class="container">
    {{> logout}}
    <!-- Placeholder for "saved" notfication -->
    <div id="save-notification"></div>
    <div class="row">
      <div class = "col-md-12">
        <h1>Feedback from interviewer</h1>
          {{#each feedbacks}}
          <h5>{{text}} by {{by}}</h5>
          {{/each}}
      </div>
    </div>
  </div>
  {{> persistantBarInterviewee}}
  <!-- JavaScript jQuery code from Bootply.com editor -->
  <script type='text/javascript'>
  $(document).ready(function() {
    /* off-canvas sidebar toggle */
    $('[data-toggle=offcanvas]').click(function() {
      $(this).toggleClass('visible-xs text-center');
      $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
      $('.row-offcanvas').toggleClass('active');
      $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
      $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
      $('#btnShow').toggle();
    });
  });
  </script>
</body>
</html>