<!DOCTYPE html>
<html>
<head>
  {{>head}}
  <link rel="stylesheet" type="text/css" href="/css/profiles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style = "background-image: url(/images/interview.jpg);"> 
  {{> logout}}  
  <div class="jumbotron" align="center">
    <h4 class="lead"> Let us know how to serve you better within 30 seconds. </h4>
    <form role="form" id = "interviewee-survey-form" method="get" action="/intervieweeProfile">
      <div class="form-group">
        <div class = "row">
          <div class = "col-md-6">
            <label class="clear"><h4>Which field do you feel passioate about?</h4></label><br>
            <select id = "occupation" name = "occupation" class="form-control">
             <option>Software Engineer</option>
             <option>Product Manager</option>
             <option>Investment Banking</option>
             <option>Consulting</option>    
            </select>
            <label class="clear"><h4>Education</h4></label><br>
            <input class = "form-control" type = "education" id = "education" name = "education" placeholder = "Education">
          </div>
          <div class = "col-md-6">
            <label class="clear"><h4>Location</h4></label><br>
            <input class = "form-control" type = "location" id = "location" name = "location" placeholder = "Location">
          </div>
        </div>
      </div>
      <input type = "hidden" id = "persontype" name = "persontype" value = "interviewee"/>
      <button type="submit" class="btn btn-success btn-lg pull-right">Continue</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>