<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/interviewRoulette.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interview Feedback</title>
  {{> bootplyBoilerplate}}
</head>
<body>
  <div class="wrapper"><!--from bootply-->
    <div class="box"><!--from bootply-->
      <div class="row row-offcanvas row-offcanvas-left"><!--from bootply-->
        {{> intervieweeProfileSidebar}}
        <div class="column col-sm-10 col-xs-11" id="main"><!--from bootply-->
          <div class="padding">
            {{> logout}}
            <!-- Placeholder for "saved" notfication -->
            <div id="save-notification"></div>
            <div class="row">
              <div class = "col-md-12">
                <h1>Feedback from interviewer</h1>
              </form>
              <div class="form-group">
                  <textarea class="form-control" rows="3"name="improvements">{{feedback}}</textarea>
              </div>
            </div>
          </div>
        </div><!--from bootply-->
      </div><!--from bootply-->
    </div><!--from bootply-->
  </div><!--from bootply-->

  <!-- JavaScript jQuery code from Bootply.com editor -->
  <script type='text/javascript'>
  $(document).ready(function() {
    /* off-canvas sidebar toggle */
    $('[data-toggle=offcanvas]').click(function() {
      $(this).toggleClass('visible-xs text-center');
      $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
      $('.row-offcanvas').toggleClass('active');
      $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
      $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
      $('#btnShow').toggle();
    });
  });
  </script>
</body>
</html>